.support p {
    color: $font-white;
    margin-bottom: 0% !important;
    float: right;
}

.sosmed {
    font-size: 110%;
    margin-right: 2%;
    color: $font-white;
}

.navigation {
    .nav-item {
        line-height: 50px;
        &:hover {
            border-bottom: 3px solid rgb(134, 135, 228);
        }
    }
}

.banner {
    background-image: url('../images/banner-bg.jpg');
    color: $font-white;
    h1 {
        @extend %h1-bold-jumbo;
    }
    a {
        @extend %button;
        background: $font-white;
    }
    i {
        color: $font-white;
    }
}

.content-1 {
    h2 {
        font-weight: bold;
    }
    p {
        margin-bottom: 0%;
    }
}

.card {
    border: none;
    background: transparent;
    .card-body {
        padding: 20px 0px;
        .judul-card {
            font-weight: bold;
            padding-bottom: 10px;
        }
    }
}

.content-2 {
    .content-2-img {
        padding: 0;
    }
    h2,
    .card-body-p {
        font-weight: bold;
        padding-bottom: 3%;
    }
    i {
        font-size: 200%;
        padding: 3% 0;
        color: rgb(221, 153, 221);
    }
}

.content-3 {
    background: url(../images/discount-bg.png) no-repeat center;
    color: $font-white;
    .form-control::-webkit-input-placeholder {
        color: white;
    }
    a {
        background: $font-white;
        color: black;
        @extend %button;
    }
    .estimate {
        background: rgb(134, 135, 228);
        color: $font-white;
        float: right;
        @extend %button;
    }
    .form {
        padding: 10% 0%;
    }
    .form-control {
        background: transparent;
        color: $font-white;
    }
}


/*support mozilla*/

.form-control:-moz-input-placeholder {
    color: white;
}


/*support internet explorer*/

.form-control:-ms-input-placeholder {
    color: white;
}

.content-4 {
    .content-4-1 {
        padding: 7% 0%;
    }
    .text-muted {
        margin-bottom: 0%;
    }
    .content-4-2 img {
        width: 13%;
    }
    .content-4-3 h2 {
        float: left;
    }
    .premium img {
        width: 15%;
        margin: 10% 2%;
    }
}

.content-5 {
    background: url(../images/bg-content-5-lg.png) no-repeat center;
    .row-1 {
        color: $font-white;
        margin-bottom: 5%;
    }
    p {
        margin-bottom: 0%;
    }
    .container {
        padding: 3% 0%;
    }
    .carousel-indicators {
        margin-bottom: -2%;
    }
}

.footer {
    color: $font-white;
    padding: 7% 0%;
    .judul-footer {
        font-weight: 600;
    }
    .list-group-item {
        background: none;
        border: none;
        padding-left: 0%;
        color: $font-white;
        a {
            color: $font-white;
            text-decoration: none;
        }
    }
}

//search custom
#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    float: left;
    line-height: 22px;
    input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius: 1px;
    }
    &:hover input,
    input:focus {
        width: 200px;
        margin-left: 0px;
    }
    .btn-search {
        height: 30px;
        position: absolute;
        right: 0;
        top: 5px;
        border-radius: 1px;
        background-color: rgb(74, 112, 238) !important;
        border: none;
    }
}

.gallery {
    img {
        width: 20%;
        margin: 0% 1%;
    }
}

.banner-blog {
    background: url(../images/blog/blog-home-banner.jpg) no-repeat center;
    background-size: cover;
    color: $font-white;
    .rgba {
        background: rgba(0, 0, 0, 0.5)
    }
    .container {
        padding: 12% 0%;
    }
    h1 {
        @extend %h1-bold-jumbo;
    }
    a {
        @extend %button-col-12;
        background: $font-white;
        color: black;
        font-weight: bold;
    }
}

.content-blog {
    color: $font-white;
    .ul-blog {
        color: black;
        overflow: hidden;
        text-align: left;
        padding: 0%;
        margin: 0%;
        .li-blog {
            list-style: none;
            float: left;
            margin-right: 3%;
        }
    }
    .content-banner1 {
        background: url(../images/blog/cat-widget1.jpg) no-repeat center;
        background-size: 100%;
    }
    .content-banner2 {
        background: url(../images/blog/cat-widget2.jpg) no-repeat center;
        background-size: 100%;
    }
    .content-banner3 {
        background: url(../images/blog/cat-widget3.jpg) no-repeat center;
        background-size: 100%;
    }
    .rgba {
        background: rgba(0, 0, 0, 0.7) center;
        padding: 10%;
        // margin: 10%;
        .judul-content {
            font-weight: 500;
        }
        hr {
            border: 1px solid white;
        }
    }
    .img {
        margin-bottom: 15%;
    }
    .news {
        @extend %header-category;
    }
    .card {
        background: transparent;
        border: none;
        margin-bottom: 10%;
        .card-body-blog {
            margin: 0%;
            padding: 5% 0%;
            color: black;
        }
        .btn-card-blog {
            @extend %button;
            background: $font-white;
            color: black;
        }
    }
    .category {
        border: 1px solid rgb(236, 236, 236);
        border-radius: 1%;
        padding: 5%;
        .form-control::-webkit-input-placeholder {
            color: white;
        }
        .form-control {
            border: none;
            background-color: #ca7bbd;
            border-radius: 50rem;
            color: $font-white;
        }
        button {
            background: transparent;
            border: none;
            position: absolute;
            padding-top: 2%;
            margin-left: 70%;
            color: $font-white;
        }
        .media {
            color: black;
            .judul-media {
                font-weight: bold;
            }
        }
        .list-group-category {
            border-bottom: 1px dotted rgb(230, 230, 230);
            p {
                margin: 0%;
            }
        }
    }
    .list-group-item {
        color: black;
        background: transparent;
        border: none;
        padding-left: 0%;
        padding-right: 0%;
    }
    .content-blog-detail {
        .detail {
            color: black;
            .media-detail,
            .form-detail {
                border: 1px solid rgb(236, 236, 236);
                border-radius: 1%;
                padding: 5%;
                .comment {
                    background: rgb(134, 135, 228);
                    color: $font-white;
                    @extend %button;
                }
                .username-comment {
                    font-weight: bold;
                }
                .btn-card-blog {
                    @extend %button;
                    background: $font-white;
                    color: black;
                }
            }
        }
        .ul-blog-detail {
            overflow: hidden;
            text-align: left;
            padding: 0%;
            margin: 0%;
            .li-blog-detail {
                list-style: none;
                float: left;
                margin-right: 3%;
            }
        }
    }
    .pagination {
        .page-link {
            border: none;
            background: transparent;
        }
        .page-item.active {
            .page-link {
                background-color: rgb(176, 124, 197);
            }
        }
    }
}

.contact {
    .map {
        height: 500px;
    }
    .media {
        i {
            font-size: 200%;
            margin-right: 5%;
        }
        .contact-detail {
            font-weight: bold;
        }
    }
    input[type=text] {
        width: 100%;
        height: 20%;
    }
    input[type=email] {
        width: 100%;
        height: 20%;
    }
    textarea {
        width: 100%;
    }
    .form-contact {
        a {
            @extend %button;
            background: rgb(134, 135, 228);
            border: 1px solid rgb(134, 135, 228);
            border-radius: 50rem;
            color: $font-white;
        }
    }
}