.support p {
    color: $font-white;
    margin-bottom: 0% !important;
    float: right;
}

.sosmed {
    font-size: 110%;
    margin-right: 2%;
    color: $font-white;
}

.banner {
    background-image: url('../images/banner-bg.jpg');
    color: $font-white;
}

.banner h1 {
    @extend %h1-bold-jumbo;
}

.banner a {
    @extend %button;
    background: white;
}

.content-1 h2 {
    font-weight: bold;
}

.content-1 p {
    margin-bottom: 0px;
}

.card {
    border: none;
    background: transparent;
}

.judul-card {
    font-weight: bold;
    padding-bottom: 10px;
}

.card-body {
    padding: 20px 0px;
}

.content-2-img {
    padding: 0;
}

.content-2 h2,
.card-body-p {
    font-weight: bold;
    padding-bottom: 3%;
}

.content-2 i {
    font-size: 200%;
    padding: 3% 0;
    color: rgb(221, 153, 221);
}

.content-3 {
    background: url(../images/discount-bg.png) no-repeat center;
    color: $font-white;
}

.content-3 a {
    background: $font-white;
    color: black;
    @extend %button;
}

.content-3 .estimate {
    background: rgb(134, 135, 228);
    color: $font-white;
    float: right;
    @extend %button;
}

.content-3 .form {
    padding: 10% 0%;
}

.content-3 .form-control {
    background: transparent;
    color: $font-white;
}

.form-control::-webkit-input-placeholder {
    color: white;
}


/*support mozilla*/

.form-control:-moz-input-placeholder {
    color: white;
}


/*support internet explorer*/

.form-control:-ms-input-placeholder {
    color: white;
}

.content-4 .content-4-1 {
    padding: 7% 0%;
}

.content-4 .text-muted {
    margin-bottom: 0%;
}

.content-4 .content-4-2 img {
    width: 13%;
}

.content-4 .content-4-3 h2 {
    float: left;
}

.content-5 {
    background: url(../images/bg-content-5-lg.png) no-repeat center;
}

.content-5 .row-1 {
    color: $font-white;
    margin-bottom: 5%;
}

.content-5 p {
    margin-bottom: 0%;
}

.content-5 .container {
    padding: 3% 0%;
}

.premium img {
    width: 15%;
    margin: 10% 2%;
}

.footer {
    color: $font-white;
    padding: 7% 0%;
}

.list-group-item {
    background: none;
    border: none;
    padding-left: 0%;
    color: $font-white;
    a {
        color: $font-white;
        text-decoration: none;
    }
}

.judul-footer {
    font-weight: 600;
}

//search custom
#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    float: left;
    line-height: 22px;
}

.search input {
    position: absolute;
    width: 0px;
    float: Left;
    margin-left: 210px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    height: 30px;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border-radius: 1px;
}

.search:hover input,
.search input:focus {
    width: 200px;
    margin-left: 0px;
}

.btn-search {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius: 1px;
    background-color: rgb(74, 112, 238) !important;
    border: none;
}