.support p {
    color: $font-white;
    margin-bottom: 0% !important;
    float: right;
}

.sosmed {
    font-size: 110%;
    margin-right: 2%;
    color: $font-white;
}

.banner {
    background-image: url('../images/banner-bg.jpg');
    color: $font-white;
}

.banner h1 {
    @extend %h1-bold-jumbo;
}

.banner a {
    @extend %button;
}

.content-1 h2 {
    font-weight: bold;
}

.content-1 p {
    margin-bottom: 0px;
}

.card {
    border: none;
    background: transparent;
}

.judul-card {
    font-weight: bold;
    padding-bottom: 10px;
}

.card-body {
    padding: 20px 0px;
}

.content-2-img {
    padding: 0;
}

.content-2 h2,
.card-body-p {
    font-weight: bold;
    padding-bottom: 3%;
}

.content-2 i {
    font-size: 200%;
    padding: 3% 0;
    color: rgb(221, 153, 221);
}