$font-white: rgb(255, 255, 255);
// EXTEND
%button {
    text-decoration: none;
    width: 25%;
    padding: 1%;
    background-color: $font-white;
    display: inline-block;
    text-align: center;
}

%h1-bold-jumbo {
    font-size: 300%;
    font-weight: bold;
}