$font-white: rgb(255, 255, 255);
// EXTEND
%button {
    text-decoration: none;
    padding: 2% 5%;
    display: inline-block;
    text-align: center;
}

%h1-bold-jumbo {
    font-size: 300%;
    font-weight: bold;
}