$font-white: rgb(255, 255, 255);
// EXTEND
%button {
    text-decoration: none !important;
    padding: 2% 5%;
    display: inline-block;
    text-align: center;
}

%button-col-12 {
    text-decoration: none !important;
    padding: 1% 5%;
    display: inline-block;
    text-align: center;
}

%header-category {
    padding: 3% 0%;
    background-color: rgb(202, 123, 189);
    text-align: center;
    font-weight: 500;
}

%h1-bold-jumbo {
    font-size: 300%;
    font-weight: bold;
}